.main-header{
    grid-area: mainHeader;
}
.sidebar{
    grid-area: sideBar;
}
.main-content{
    grid-area: mainContent;
}
body{
    max-width: 1550px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 4rem auto;
    grid-template-areas:
        "mainHeader"
        "sideBar"
        "mainContent"
    ;
    @media(min-width: 768px){
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
            "mainHeader mainHeader"
            "sideBar mainContent"
        ;
        .sidebar{
            height: 100%;
        }
        .iconBarWrapper{
            display: flex;
            flex-direction: column;
        }
        .iconbar{
            width: 60%;
            margin-top: 2rem;
        }
        .right{
            h2{
                font-size: 2rem;
            }
            span{
                display: inline-block;
                margin-left: 1rem;
            }
        }
        .btnBottom{
            margin: 2rem;
        }

        // Bar and Doughnut layout
        .chartBar,
        .doughnutChart{
            width:50%;
        }
        .chartBar{
            border-left: none;
            border-right: none;
        }
        .doughnutChart{
            border-right: none;
        }
        .responseChart{
            width:95%;
            margin:auto;
            display:flex;
            justify-content: space-between;
        }


        // Social layout
        .twitter,
        .facebook,
        .google{
            width: 30%;
            border-radius: 10px;
        }
        .twitterData,
        .facebookData,
        .googleData{
            display:inline-block;
            p{
                margin: .5rem;
            }
        }
        .socialWrap{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    @media(min-width:1024px){
        .sidebar{
            max-width: 90px;
        }
        .memberandmessage,
        .actandset{
            width: 48%;
        }
        .actandset{
            display:flex;
            flex-direction: column;
        }
        .activity,
        .newMember{
            margin:0;
            border: solid $bordergrey 1px;
            padding: 1rem;
            width: 100%;
        }
        .userMessage,
        .setting{
           border: solid $bordergrey 1px; 
        }
        .newMember{
            border-left: none;
            border-right: none;
            border-bottom: none;
        }
        .activity{
            border-right: none;
            border-bottom: none;
        }
        .userMessage{
            border-left:none;
            border-right:none;
            border-bottom: none;
        }
        .setting{
            border-right:none;
            border-bottom: none;
        }

        .recentAct{
            margin-top:2.2rem;
        }
        .botWrap{
            display: flex;
        }
        #sendBtn{
            margin-top:1rem;
        }
        .btnBottom{
             margin-bottom: 0;
        }
    }

}