.doughnutChart{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid $bordergrey  1px;
    padding: .5rem 1rem;
    p{
        font-family: "kenyan-rgnit";
        color:$thirdtextColor;
        font-size: 1.3rem;
        letter-spacing: 2px;
    }
}